body {
  margin: 0;
  top: 0;
  background: #fff;
  background: url("img-noise-361x370.png");
  min-width: 180px;
  max-width: 180px;
  font-family: "Arial";
}

img {
  display: block;
  margin: auto;
}

#main {
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}

#content {
  display: inline-block;
  padding: 10px 10px 20px 10px;
  width: calc(100% - 20px);
  font-size: 14pt;
}

.header {
  display: block;
  background-color: #4a4a4a;
  color: #dedede;
  font-size: 11pt;
  text-align: center;
  top: 0;
  padding: 2px 0px 2px 0px;
  margin: 5px 0px 5px 0px;
}

#default::after {
    content: " ";
    clear: both;
    display: table;
}

#global {
  width: 50%;
}

.status {
  display: block;
  width: 145px;
  height: 145px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
  background: none;
  border: none;
}
.status:hover {
  filter: brightness(90%);
}
.statusEnabled {
  background-image: url("icon128_o.png");
}
.statusDisabled {
  background-image: url("icon128_g.png");
}

.switch {
  margin-right: 10px;
  width: 50px;
  height: 26px;
  float: left;
  background: none;
  border: none;
}

#statistics {
  margin-top: 10px;
  font-family: Verdana;
  font-size: 0.65em;
  float: left;
  text-align: left;
}

.statistics_value {
  text-align: right;
  float: right;
  font-family: Verdana;
  color: orange;
  font-weight: bold;
}

#default hr {
  width: 1000%;
  margin-left: -500%;
  border: dotted 1px orange;
}

.center {
  text-align: center;
}

.reset_counter_btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
  background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color:#d0451b;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
  margin-top: 10px;
}
.reset_counter_btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
  background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
  background-color:#bc3315;
}
.reset_counter_btn:active {
  position:relative;
  top:1px;
}
