body {
  margin: 0;
  top: 0;
  background: #fff;
  min-width: 180px;
  max-width: 180px;
  font-family: "Arial";
}

img {
  display: block;
  margin: auto;
}

#main {
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}

#content {
  display: inline-block;
  padding: 10px 10px 20px 10px;
  width: calc(100% - 20px);
  font-size: 14pt;
}

.header {
  display: block;
  background-color: #4a4a4a;
  color: #dedede;
  font-size: 11pt;
  text-align: center;
  top: 0;
  padding: 2px 0px 2px 0px;
  margin: 5px 0px 5px 0px;
}

#default::after {
    content: " ";
    clear: both;
    display: table;
}

#global {
  width: 50%;
}

.status {
  display: block;
  width: 145px;
  height: 145px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
  background: none;
  border: none;
}
.status:hover {
  filter: brightness(90%);
}
.statusEnabled {
  background-image: url("icon128_o.png");
}
.statusDisabled {
  background-image: url("icon128_g.png");
}

.switch {
  margin-right: 10px;
  width: 50px;
  height: 26px;
  float: left;
  background: none;
  border: none;
}