body {
  margin: 0;
  background: #fff;
  min-width: 500px;
  max-width: 600px;
  font-family: "Arial";
}

img {
  display: block;
  margin: auto;
}





#main {
  max-width: 500px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}

#content {
  display: inline-block;
  padding: 10px 10px 20px 10px;
  width: calc(100% - 20px);
  font-size: 14pt;
}

.header {
  display: block;
  background-color: #4a4a4a;
  color: #dedede;
  font-size: 11pt;
  text-align: center;
  padding: 2px 0px 2px 0px;
  margin: 5px 0px 5px 0px;
}





#default::after, #presets::after, .element::after, #rules::after, #addRuleOuter::after, #addRuleInner::after {
    content: " ";
    clear: both;
    display: table;
}

#global {
  width: 50%;
  float: left;
}

.status {
  display: block;
  width: 145px;
  height: 145px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
  background: none;
  border: none;
}
.status:hover {
  filter: brightness(90%);
}
.statusEnabled {
  background-image: url("icon128_o.png");
}
.statusDisabled {
  background-image: url("icon128_g.png");
}



#individual {
  width: 50%;
  float: right;
}

#presets, #rules, #addRuleOuter {
  margin: 10px 0px 0px 10px;
}





#custom {
  margin-top: 20px;
  width: 100%;
  display: block;
  float: left;
}

#addRuleInner {
  margin-top: 5px;
}

#addRuleField {
  overflow: hidden;
  float: left;
  width: calc(100% - 55px);
  height: 25px;
  border-radius: 3px;
  height: 30px;
}

#addRuleField input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #d7d6db;
  -webkit-transition: .4s;
  transition: .4s;
  padding-left: 10px;
  padding-right: 10px;
}

#addRuleField input:focus {
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#addRuleBtn {
  width: 45px;
  padding: 3px 0px 3px 0px;
  float: right;
  background-color: #b5e61d;
  border: none;
  border-radius: 3px;
  height: 30px;
}

#addRuleBtn:active {
  background-color:  #96d160;
}





.switch {
  margin-right: 10px;
  width: 50px;
  height: 26px;
  float: left;
  background: none;
  border: none;
}/*
.switchEnabled {
  background-image: url("switchEnabled.png");
}
.switchDisabled {
  background-image: url("switchDisabled.png");
}*/

.textElement {
  clear: right;
  text-overflow: ellipsis;
}